@require 'stylus/theme.styl'

.input
  margin: margin.md
  position: relative
 
  &__clear-button
    position: absolute
    bottom: -2px
    right: -4px

  &__info
    @extend .monospace
    font-weight: 700
    position: absolute
    left: 0px
    bottom: -12px
    width: 100%
    text-align: center
    font-size: 12px
    color: colors.primary

  &__element
    @extend .focusable
    @extend .border
    border-radius: radius.sm
    color: colors.dark
    width: 100%
    font: inherit
    display: flex
    align-items: center
    cursor: text
    padding: 2px
    background-color: colors.white

    &[type="file"]
      display: none

    &[disabled]
      background-color: colors.light

    &_file
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      // word-wrap: nowrap

    &_clearable
      padding-right: 20px
      
  &_xs  
    font-size: fontSize.xs

  &_sm
    height: 20px
    font-size: fontSize.sm

  &_md
    height: 30px
    font-size: fontSize.md
