@require 'stylus/theme.styl'

.link-item
  @extend .focusable
  // text-decoration: underline
  color: colors.bgDark
  font-size: fontSize.sm
  padding: padding.md
  margin: margin.sm
  display: flex
  align-items: center
  border-right: 2px solid transparent

  &:hover
    color: colors.primary
    @extend .focus

  &_selected
    border-right: 2px solid colors.primary
    color: colors.primary

  
