@require 'stylus/theme.styl'

.notice
  background-color: colors.bgDark;
  color: colors.white;
  padding: padding.md
  border-radius: 5px
  margin: margin.md
  border-bottom-right-radius: 0
  position: relative
  z-index: zIndex.popup + 5
  max-width: 300px