@require 'stylus/theme.styl'

.hr
  background-color: colors.light
  border: 0

  &_horizontal
    min-height: 1px
    width: 100%
    margin: margin.md 0
  &_vertical
    width: 1px
    // height 100%
    margin: 0 margin.md