@require 'stylus/theme.styl'

.items-list
  max-height: 70vh
  overflow-y: scroll

  &__item
    display: flex
    align-items: center
    padding: 0 0.25rem

  &__item-id
    margin-left: auto

  &__item-label
    flex: 1