@require 'stylus/theme.styl'

.btn
  @extend .focusable
  cursor: pointer
  border: none
  font-family: inherit
  color: colors.white
  display: flex
  justify-content: center
  align-items: center

  &_xs
    @extend .radius-sm
    min-height: 20px
    font-size: fontSize.xs
    padding: 0 padding.lg

  &_sm
    @extend .radius-sm
    min-height: 20px
    font-size: fontSize.sm
    padding: 0 padding.lg

  &_md
    @extend .radius-sm
    min-height: 30px
    font-size: fontSize.md
    font-weight: fontWeight.medium
    padding: padding.md (padding.lg)

  &_inverted
    background-color: transparent
    padding: 0
    border-radius: 0
     
  &_fill
    width: 100%
    flex: 1

  for key, value in colors
    &_{key}
      &^[0]_inverted
        color: value

      &:not(^[0]_inverted)  
        background-color: value

        &[disabled]
          background-color: lighten(@background-color, 50%)

        &:active:not([disabled])
          background-color: darken(@background-color, 10%)
