@require 'stylus/theme.styl'


tr
  &.row_selectable
    cursor: pointer

    &:hover
      background-color: colors.light

    &.row_selected
      
      @extend .focus
      & > td

        border-color: colors.primary
        

        &:first-child
          border-left-color: colors.primary
        &:last-child          
          border-right-color: colors.primary
        
        border-right-color: transparent
        border-left-color: transparent

td
  @extend .border, .padding_md
      
  &.cell_sortable
    cursor: pointer
    user-select: none
    position: relative
    padding-right: padding.lg * 3

    &:after
      content: url('icons/popupArrow.svg')
      transition: transform 0.1s ease-in-out
      transform: scaleY(1)
      // height: 1px
      // position: absolute
      // right: 5px
      // top: 5px
      margin-left: margin.md
      visibility: hidden
      display: inline-block

    &.sort_asc
      &:after
        transform: scaleY(-1)
        visibility: visible

    &.sort_desc
      &:after
        transform: scaleY(1)
        visibility: visible
      
        
    

thead
  @extend .weight_medium, .monospace
  text-align: center

  & > tr > td
    border: none

.table
  border-spacing: 0
  font-size: fontSize.sm
