.loader-banner
  position: relative
  flex: 1
  display: flex
  flex-flow: column

  &__container
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #c3c3c321


  