@require 'stylus/theme.styl'

.spoiler
  margin: margin.md
  position: relative


  &__button
    text-align: left
    width: 100%

  &__container
    overflow: hidden
    max-height: 0px
    display: none

    ^[0]_opened > &
      max-height: initial
      display: block

  &__label
    @extend .focusable, .unselectable
    align-items: center
    padding-left: 12px
    display: flex

    width: 100%

    &:after
      content: url('icons/spoilerArrow.svg')
      // margin-left: margin.sm
      transition: transform 0.1s ease-in-out
      transform: scaleY(1)
      height: 19px
      position: absolute
      left: 0

    ^[0]_opened > * > &
      &:after
        transform: scaleY(-1) !important
