@require 'stylus/theme.styl'

.alt-popup
  @extend .unselectable
  display: flex
  position: absolute
  if darkTheme
    background-color: colors.white
    color: colors.light
    border: 1px solid colors.light

  else
    background-color: colors.bgDark
    color: colors.white

  border-radius: radius.sm
  text-align: center
  padding: padding.md (padding.lg)
  z-index: zIndex.alt
  pointer-events: none
  width: 120px
  min-height: 30px

  &_z-popup
    z-index: zIndex.alt + zIndex.popup

  &__label
    color: inherit
    margin: auto

  &__icon
    position: absolute
