@require 'stylus/theme.styl'

.log-item
	padding: margin.md
	
	border-bottom: 1px solid colors.light
	margin: margin.md

	&__info
		align-items: center

.log-info

	&__service
		margin-left: auto !important

	&__message
		margin: 0 1rem
		overflow-wrap: anywhere;
		display: block !important

	&__time
		margin-right: 1rem
