@require 'stylus/theme.styl'

.category-item
  align-items: center
  &__level
    width: 1.5rem

.holding-item
  padding-bottom: margin.md
  &:not(:last-child)
    border-bottom: 1px solid colors.light
    margin-bottom: margin.md
    