@require 'stylus/theme.styl'

.span
  
  margin: margin.sm
  padding: 0 padding.md
  
  // background-color: colors.white
  // border-radius: radius.sm
  display: flex
  justify-content: center
  align-items: center


  &_sm
    font-size: fontSize.sm
  &_xs
    font-size: fontSize.xs

  &_monospace
    @extend .monospace


  &_secondary
    color: colors.bgDark
    // border: 1px solid colors.bgDark

  &_primary
    color: colors.primary
    // border: 1px solid colors.primary