@require 'stylus/theme.styl'

.topbar
  // box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.05)
  border-bottom: 1px solid colors.light

  padding: padding.lg

  &__label
    margin-left: auto
    // text-align: right

  
  