@require 'stylus/theme.styl'

.category-item  
  &__level
    flex: 1
    margin: margin.md

  &:not(:last-child)
    border-bottom: 1px solid colors.light
    margin-bottom: margin.md


.holding-item
  padding-bottom: margin.md
  &:not(:last-child)
    border-bottom: 1px solid colors.light
    margin-bottom: margin.md
    

.edit-item
  &_editable
    border-bottom: 1px solid colors.primary


.phone-popup
  &__sidebar
    flex: 0 0 300px
    max-height: 71vh
    overflow-x: hidden
    overflow-y: auto
